[submodule "libs/pybind11"]
	path = libs/pybind11
	url = https://github.com/pybind/pybind11.git
	branch = v2.2
[submodule "libs/args"]
	path = libs/args
	url = https://github.com/Taywee/args.git
[submodule "libs/json"]
	path = libs/json
	url = https://github.com/nlohmann/json.git
[submodule "libs/minimp3"]
	path = libs/minimp3
	url = https://github.com/lieff/minimp3.git
[submodule "libs/armadillo"]
	path = libs/armadillo
	url = https://gitlab.com/conradsnicta/armadillo-code.git
[submodule "libs/sigpack"]
	path = libs/sigpack
	url = https://github.com/EgorDm/sigpack-fork.git
[submodule "libs/googletest"]
	path = libs/googletest
	url = https://github.com/google/googletest.git
	branch = release-1.8.1
