[submodule "libs/pybind11"]
	path = libs/pybind11
	url = https://github.com/pybind/pybind11.git
	branch = v2.2
[submodule "libs/args"]
	path = libs/args
	url = git@github.com:Taywee/args.git
[submodule "libs/json"]
	path = libs/json
	url = git@github.com:nlohmann/json.git
[submodule "libs/minimp3"]
	path = libs/minimp3
	url = git@github.com:lieff/minimp3.git
